section {
   margin-top: 55px;
   float: left;
   height: 500px;
   overflow: auto; 

}

.btn {
  margin-left:25%;
}

#googleMap {
  width: 30%; 
}

#pictures {
  width: 40%;
}

#instructions {
  width: 29%; 
}

#divtitle {
  word-wrap: break-word;
  width: 250px; 
}
